.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end; /* Required for Cypress test */
    margin-top: 20px;
}

.cards img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 25vw;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cards img:hover {
    transform: scale(1.05);
}
